<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
  <base href="https://dcs-web-editor.github.io/dcs-web-editor-docs/">
</head>

<body>
  <div class="left-panel">
    <header class="header">
      <h1>DCS Web Editor User Manual</h1>
    </header>
    <nav class="nav">
      <ul class="top-level">
        <!-- Home -->
        <li>
          <a href="{{ '/' | relative_url }}">Home</a>
        </li>
        <!-- UI Utilities -->
        <li>
          <a href="{{ '/sections/uitools/uitools.html' | relative_url }}">UI Tools</a>
          <ul class="cat1">
            <li>
              <a href="{{ '/sections/uitools/uitools.html#keyboard-shortcuts' | relative_url }}">Keyboard Shortcuts</a>
            </li>
            <li>
              <a href="{{ '/sections/uitools/uitools.html#map-tools' | relative_url }}">Map Tools</a>
            </li>
            <li>
              <a href="{{ '/sections/uitools/uitools.html#panel-tools' | relative_url }}">Panel Tools</a>
            </li>  
          </ul>
        </li>
        <!-- Mission -->
        <li>
          <a href="{{ '/sections/mission/mission.html' | relative_url }}">Mission</a>
        </li>
        <!-- Map Options -->
        <li>
          <a href="{{ '/sections/mapoptions/mapoptions.html' | relative_url }}">Map Options</a>
        </li>
        <!-- Units -->
        <li>
          <a href="{{ '/sections/units/units.html' | relative_url }}">Units</a>
          <ul class="cat1">
            <li>
              <a href="{{ '/sections/units/units.html#unit-panel' | relative_url }}">Unit Panel</a>
            </li>
            <li>
              <a href="{{ '/sections/units/units.html#unit-manipulation' | relative_url }}">Unit Manipulation</a>                  
            </li>
          </ul>
        </li>
        <!-- Waypoints -->
        <li>
          <a href="{{ '/sections/waypoints/waypoints.html' | relative_url }}">Waypoints</a>
          <ul class="cat1">
            <li>
              <a href="{{ '/sections/waypoints/waypoints.html#waypoint-panel' | relative_url }}">Waypoint Panel</a>
            </li>
            <li>
              <a href="{{ '/sections/waypoints/waypoints.html#waypoint-manipulation' | relative_url }}">Waypoint Manipulation</a>
            </li>
          </ul>
        </li>
        <!-- Statics -->
        <li>
          <a href="{{ '/sections/statics/statics.html' | relative_url }}">Statics</a>
        </li>
        <!-- Triggers & Zones -->
        <li>
          <a href="{{ '/sections/triggers/triggers.html' | relative_url }}">Triggers & Zones</a>
        </li>
        <!-- Drawings -->
        <li>
          <a href="{{ '/sections/drawings/drawings.html' | relative_url }}">Drawings</a>
        </li>
        <!-- Templates -->
        <li>
          <a href="{{ '/sections/templates/templates.html' | relative_url }}">Templates</a>
        </li>
        <!-- Collaborate -->
        <li>
          <a href="{{ '/sections/collaborate/collaborate.html' | relative_url }}">Collaborate</a>
        </li>
        <!-- Plugins -->
        <li>
          <a href="{{ '/sections/plugins/plugins.html' | relative_url }}">Plugins</a>
        </li>
      </ul>
    </nav>
    <nav class="footer">
      <a href="https://discord.gg/p8ey5sguY2">Discord</a>
      <a href="https://github.com/DCS-Web-Editor/dcs-web-editor-mono">GitHub</a>
    </nav>
  </div>
  <!-- Markdown pages content -->
  <main class="content">
    {{ content }}
  </main>
</body>
</html>